ul, li {
	
	font-style:italic;
}
@font-face {
	
	font-family: "Lora",serif;
	font-style:	normal;
	font-weight: normal;
	src: url("https://fonts.googleapis.com/css?family=Lora:400,700");

}
#album{
	font-family:"Lora";
	font-size:40px;
	text-align:center;
		}
		
#group{
	
	font-family:"Times New Roman";
	font-size:24px;
	text-align:center;

	
	
}
a {
	
	text-decoration:none;
}
a:hover {
		text-decoration:underline;
		color:green;
}


#year {
	text-align:center;
	font-size:20px;
	font-family:"Times New Roman";
	
	
	
}
#band{
	
	
	font-family:"Lora";
	text-align:center;
	font-size:24px;
	
	
}

	
.row {
	
	padding:10px;
}
	
	
	
	
	
	

	


.table>tbody>tr:nth-child(odd)>td{
	
	background-color:#8FD8D8;
}
hr{
	margin-bottom:20px;
	margin-top:5px;
	border: 1px solid #000000;
	
	
}

	
	
	
	