ul, li {
	
	font-style:italic;
}
@font-face {
	
	font-family: "Lora",serif;
	font-style:	normal;
	font-weight: normal;
	src: url("https://fonts.googleapis.com/css?family=Lora:400,700");

}
#album{
	font-family:"Lora";
	font-size:40px;
	text-align:center;
		}
		
#group{
	
	font-family:"Times New Roman";
	font-size:24px;
	text-align:center;

	
	
}
a {
	
	text-decoration:none;
}
a:hover {
		text-decoration:underline;
		color:green;
}


#year {
	text-align:center;
	font-size:20px;
	font-family:"Times New Roman";
	
	
	
}
#band{
	
	
	font-family:"Lora";
	text-align:center;
	font-size:24px;
	
	
}

	
#pic {
	
	height:300px;
	margin-left:auto;
	margin-right:auto;
	padding:10em;
	
	background-size: 450px;
	background-image: url("http://ecx.images-amazon.com/images/I/512VOQgzHfL._AA160_.jpg"); 
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	
	

	
}
table {
	
	background-color:#8FD8D8;
}
	
	
	
	
}