#header {
	
	text-align:center;
	font-family:cursive;
	font-size:50px;
}


table {

	line-height:20px;
	vertical-align:center;
	border-collapse:collapse;
		
}
td {
	
	padding: 20px;
}

th{
	font-size:24px;
	padding-bottom:24px;
	vertical-align:top;
	text-align:center-right;

}

#tableStyle {
	height:350px;
	width:500px;
	
}