@font-face {
	
	font-family:'Handlee', cursive;
	font-style:normal;
	font-weight:normal;
	src: url('https://fonts.googleapis.com/css?family=Handlee');
	
}

p#header{
	font-family:'Handlee', cursive;
	font-size: 40px;
	font-weight:bold;
	text-align:center;
	
	
	
}
a{
	font-family:cursive;
	text-decoration:underline;
	font-weight:none;
}

 a:link{
	
	color:green;
	
	
}

	
 a:visited {
	color:red;
	
}
  a:hover {
	font-weight:bold;
	
	
}
  a:active {

	text-decoration:none;

}
#footer {
	
	text-align:center;
	font-size: 16px;
	margin-right:auto;
	margin-left:auto;
	background-color:white;
		
}
div {
	background-color:yellow;
	
	
}
div.home{
	
	background-color:pink;
	
	
}
