@font-face {
	
	font-family:'Handlee', cursive;
	font-style:normal;
	font-weight:normal;
	src: url('https://fonts.googleapis.com/css?family=Handlee');
	
}

p#header{
	font-family:'Handlee', cursive;
	font-size: 40px;
	font-weight:bold;
	text-align:center;
	
	
	
}

hr{
	
	margin-bottom:20px;
	margin-top:5px;
	border: 1px solid #000000;
}
a{
	font-family:cursive;
	text-decoration:underline;
	font-weight:none;
}

 a:link{
	
	color:green;
	
	
}

	
 a:visited {
	color:red;
	
}
  a:hover {
	font-weight:bold;
	
	
}
  a:active {

	text-decoration:none;

}
#footer {
	
	text-align:center;
	font-size: 16px;
	margin-right:auto;
	margin-left:auto;
	background-color:white;
		
}
.jumbotron{
	background-color:#ffffe0;
	
	
}

.subtitle {
	
	font-weight:bold;
	text-align:center;
	
	
	
}
.describe{
	
	text-align:center;
	
}

.row {
	
	font-size:20px;
	margin:10px;
	padding: 12px;
}
h3 {
	text-decoration:none;
	font-size: 20px;
	margin-left: 150px;
	padding: 20px;
	font-weight:bold;
	
}
	
#message{
	background-color:#ffb6c1;
}
#menu{
	background-color:#ffffcc;
}

 .table {
	display:table;
	border:none;
	width:40%;
	margin:20px;
	
}
.tableRow {
	display:table-row;
	border:none;
	margin: 15px;
}
.tableCell {
	display:table-cell;
	padding:5px;
	border:none;
	font-size:20px;
	margin:15px;
}
.item{
	font-family:cursive;
	text-align:center;
	color: #008080;
	
}
.item p {
	font-size:20px;
	
}

